@import url("https://fonts.googleapis.com/css2?family=Gaegu&family=Gamja+Flower&display=swap");

.App {
  width: 1000px;
  margin: 0px auto 0px auto;
  border-radius: 10px;
  padding: 20px 10px 20px 10px;
  font-family: "Gaegu", sans-serif;
  font-family: "Gamja Flower", sans-serif;
}
.MytodoList {
  padding-left: 10px;
}
.inputbox {
  height: 70px;
  padding-left: 10px;
  display: flex;

  align-items: center;
  border: solid 3px black;
  border-radius: 8px;
}

.WorkCards {
  /* background-color: #dcebff; */
  padding: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 10px;
  font-family: "Gaegu", sans-serif;
  font-family: "Gamja Flower", sans-serif;
}

.Working {
  background-color: #d2d2ff;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.card {
  border: 3px solid #e2e2e2;
  width: 250px;
  height: 150px;
  margin: 10px 20px 20px 20px;
  padding: 10px;
  border-radius: 8px;
  flex-direction: column;
  box-shadow: 1px 1px 1px 1px #c1c2c9;
}

#title {
  height: 50px;
}

#content {
  height: 40px;
  padding: 5px;
  text-align: center;
}

.buttonBox {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  align-items: center;
}

.Btn {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border-color: #f9f9f9;
  box-shadow: 0 0 20px 20px #f9f9f9 inset, 0 0 0 0 #f9f9f9;
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 #f9f9f9 inset, 0 0 10px 4px #f9f9f9;
  }
}

.Done {
  background-color: #f4e9f6;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  flex-wrap: wrap;
}
